@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aplayer {
    @apply !shadow-none !font-sans;
  }
}

/* 不支持dash --  ?? */
.aplayer-pic {
  @apply !rounded-full !shadow-lg;
}

/* hide scrollbar */
a {
  text-decoration: none !important;
}

:focus-visible {
  outline: none;
}

hr {
  margin: 2px auto !important;
}

:root {
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

/* disable scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
scrollbar-width {
  display: none;
}
::-webkit-scrollbar:hover,
scrollbar-width {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

/* custom scrollbar */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
} */

#om-progress {
  height: 3px;
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}

#om-progress::-webkit-progress-bar {
  background-color: #efefef;
}

#om-progress::-webkit-progress-value {
  background-color: #f67f93;
  animation: progress-bar 1s ease-out infinite;
}

@keyframes progress-bar {
  0% {
    box-shadow: 0 0 1px #007aff;
  }
  50% {
    box-shadow: 0 0 2px #007aff;
  }
  100% {
    box-shadow: 0 0 1px #007aff;
  }
}

h2 {
  text-wrap: balance;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated {
  animation-duration: 20s; /* 可以根据需要调整动画的持续时间 */
  animation-timing-function: linear; /* 调整动画的缓动函数 */
  animation-iteration-count: infinite; /* 使动画无限循环 */
}

.rotate {
  animation-name: rotate; /* 使用定义的 rotate 关键帧动画 */
}
