@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aplayer {
    @apply !shadow-none !font-sans;
  }
}

/* 不支持dash --  ?? */
.aplayer-pic {
  @apply !rounded-full !shadow-lg;
}

/* hide scrollbar */
a {
  text-decoration: none !important;
}

:focus-visible {
  outline: none;
}

hr {
  margin: 2px auto !important;
}

:root {
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

#om-progress {
  height: 7px;
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}

#om-progress::-webkit-progress-bar {
  background-color: #efefef;
}

#om-progress::-webkit-progress-value {
  background-color: #f67f93;
  animation: progress-bar 1s ease-out infinite;
}

@keyframes progress-bar {
  0% {
    box-shadow: 0 0 1px #007aff;
  }
  50% {
    box-shadow: 0 0 2px #007aff;
  }
  100% {
    box-shadow: 0 0 1px #007aff;
  }
}

h2 {
  text-wrap: balance;
}
